.Rproj.user
.Rhistory
.RData
.Ruserdata
.Dockerfile.txt
Dockerfile
other/
output/appendix sydney paper/
data/hru.con
data/hru.shp
data/hru.shx
data/hru.prj
data/hru.dbf
data/rou_unit.con
data/pareto_fitness.txt
data/pareto_genomes.txt